{% extends 'layout.html' %}

{% block content %}
<div class="box-border p-3">
    <div class="mb-3">
        <h1 class="text-cyan-600 text-3xl">Welcome to Biker!</h1>
    </div>

    <div class="mb-3">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut orci semper, mattis odio nec, ultricies leo. Nulla ultrices semper elit, non tristique lorem molestie nec. Vestibulum sed sapien ante. Etiam sodales metus id neque rhoncus, non rutrum massa pulvinar. Pellentesque blandit at tortor eget accumsan. Suspendisse luctus sollicitudin lacus. Curabitur pharetra, ipsum a rhoncus molestie, justo augue sagittis eros, eget pulvinar urna leo sed odio. Donec blandit luctus tellus at tincidunt. Mauris erat dui, ultrices sed dui ac, malesuada facilisis lorem. Sed aliquam turpis ut arcu pellentesque commodo. Morbi turpis urna, tristique ac lorem sit amet, bibendum varius nunc. Curabitur blandit sollicitudin ligula quis condimentum. Aenean pharetra risus et gravida lacinia.
        </p>
    </div>

    <div class="mb-3">
        <h1 class="text-cyan-600 text-3xl">Welcome to Biker!</h1>
    </div>
</div>
{% endblock %}
