{% extends 'layout.html' %}

{% block content %}
<div class="box-border p-3">
    <div class="mb-3">
        <h1 class="text-cyan-600 text-3xl">Biker customers</h1>
    </div>

    <div class="my-5">
        <a
            class="rounded-full bg-cyan-500 text-white p-2"
            href="{{ url_for('customers.create') }}"
        >
            Create customer
        </a>
    </div>

    <div>
        <table class="table-fixed border-collapse border border-slate-500 my-5">
            <tbody>
                <tr>
                    <th class="border border-slate-600 p-2">ID</th>
                    <th class="border border-slate-600 p-2">Email</th>
                    <th class="border border-slate-600 p-2">First name</th>
                    <th class="border border-slate-600 p-2">Last name</th>
                    <th class="border border-slate-600 p-2"></th>
                </tr>
                {% for customer in customers %}
                    <tr>
                        <td class="border border-slate-600 p-2">{{ customer['id'] }}</td>
                        <td class="border border-slate-600 p-2">{{ customer['email'] }}</td>
                        <td class="border border-slate-600 p-2">{{ customer['first_name'] }}</td>
                        <td class="border border-slate-600 p-2">{{ customer['last_name'] }}</td>
                        <td class="border border-slate-600 p-2">
                            <form action="{{ url_for('customers.delete', identifier=customer['id']) }}" method="post">
                                <input class="cursor-pointer rounded-full bg-red-500 p-2" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
